.headerx {
    background-color: #d7202c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff
}

.headerx-left {
    font-size: 22px;
    font-weight: 500;
    line-height: 24px
}

.headerx a {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.headerx a:hover {
    color: #f45b4f
}

.headerx a i {
    padding-left: 5px
}

.container {
    max-width: 1280px;
    margin: 0 auto
}

header {
    background-color: #f1f0f1
}

header .banner a .img-banner {
    text-align: center;
}

header .banner a {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #AC0000;
}

header .container .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #bebaba;
    padding-top: 10px
}

header .container .header-top .logo {
    margin-right: 15px
}

header .container .header-top .logo img.logoImg {
    width: 170px;
    max-width: 100%;
}

header .container .header-top .category .category-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

header .container .header-top .category .category-top-search {
    margin-right: 15px
}

header .container .header-top .category .category-top-search .input {
    width: 560px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

header .container .header-top .category .category-top-search .input input {
    border: none;
    width: 93%;
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
    height: 32px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px
}

header .container .header-top .category .category-top-search .input span {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ea1c00;
    width: 7%;
    height: 34px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px
}

header .container .header-top .category .category-top-search .input span:hover i {
    color: #505050
}

header .container .header-top .category .category-top-search .input span i {
    color: #fff;
    font-size: 14px;
    line-height: 14px
}

header .container .header-top .category .category-top-right .listCategory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

header .container .header-top .category .category-top-right .listCategory li {
    margin-right: 30px
}

header .container .header-top .category .category-top-right .listCategory li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative
}

header .container .header-top .category .category-top-right .listCategory li a img {
    width: 24px;
    height: 24px
}

header .container .header-top .category .category-top-right .listCategory li a .text {
    padding-left: 10px;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    color: #010101
}

header .container .header-top .category .category-top-right .listCategory li a .numberCart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: -23%;
    left: 20%;
    background-color: #ea1c00;
    color: #fff;
    font-size: 9px;
    line-height: 18px;
    border-radius: 50%;
    width: 18px;
    height: 18px
}

header .container .header-top .category .category-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

header .container .header-top .category .category-bottom ul li {
    margin: 4px 10px
}

header .container .header-top .category .category-bottom ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

header .container .header-top .category .category-bottom ul li a img {
    width: 18px;
    margin-right: 10px
}

header .container .header-top .category .category-bottom ul li a .textx2 {
    margin-left: 10px
}

header .container .header-top .category .category-bottom ul li a .textx {
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
    color: #ea1c00;
    word-spacing: 0px
}

header .container .header-top .category .category-bottom ul li .space {
    color: #ea1c00;
    font-weight: 700;
    font-size: 20px
}

header .container .header-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0px
}

header .container .header-bottom-listProduct {
    background-color: #505050;
    color: #ffffff;
    font-size: 13px;
    padding: 8px 12px;
    border-radius: 4px;
    width: 170px;
    height: 35.2px;
}

header .container .header-bottom-listProduct i {
    line-height: 13px;
    margin-right: 5px;
}

header .container .header-bottom-listProduct span {
    line-height: 19px;
}

header .container .header-bottom-listRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

header .container .header-bottom-listRight li {
    font-size: 11px;
    font-weight: 500;
}

header .container .header-bottom-listRight li a {
    width: 215px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #505050;
    border: 1px solid #6e6767;
    border-radius: 4px;
    padding: 7px
}

header .container .header-bottom-listRight li a:hover {
    background-color: #ea1c00
}

header .container .header-bottom-listRight li a:hover span {
    color: #ffffff
}

header .container .header-bottom-listRight li a img {
    width: 18px;
    height: 18px;
    margin-right: 10px
}

.body-navbar-slide {
    background-color: #f1f0f1
}

.body-navbar-slide .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.body-navbar-slide .container .navbar {
    width: 170px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding-bottom: 40px;
    margin-bottom: 15px;
    position: relative;
    margin-top: -15px;

}

.body-navbar-slide .container .navbar-item>a {
    width: 170px;
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    font-size: 13px;
    font-weight: 500;
    line-height: 18.5px;
    color: #333333;
    padding: 8px 8px 8px 10px
}

.body-navbar-slide .container .navbar-item>a:hover {
    background-color: #ea1c00;
    position: relative;
}

.body-navbar-slide .container .navbar-item>a:hover img {
    color: #010101
}

.body-navbar-slide .container .navbar-item>a:hover .textxxx {
    color: #fff
}

.body-navbar-slide .container .navbar-item>a:hover::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #ea1c00;
    position: absolute;
    left: 100%;
    z-index: 3
}

.body-navbar-slide .container .navbar-item>a img {
    max-width: 20px;
    margin-right: 10px;
}

.body-navbar-slide .container .navbar-item .nav-item-listText {
    position: absolute;
    height: 557px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: none;
    top: 0;
    left: 170px;
    margin-left: 10px;
    z-index: 2;
    background-color: #fff;
    width: 920px
}

.body-navbar-slide .container .navbar-item .nav-item-listText .itemText {
    padding: 7px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.body-navbar-slide .container .navbar-item .nav-item-listText .itemText .textHeader {
    color: #ea1c00;
    font-size: 15px;
    font-weight: 550;
    line-height: 21.4px
}

.body-navbar-slide .container .navbar-item .nav-item-listText .itemText .textBody {
    font-size: 13px;
    line-height: 18.5px;
    color: #505050;
    padding: 3px 0
}

.body-navbar-slide .container .navbar-item .nav-item-listText .itemText .textBody:hover {
    color: #ea1c00
}

.body-navbar-slide .container .slideEndItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -15px;
}

.body-navbar-slide .container .slideEndItem .slides-item {
    position: relative;
    width: 735px;
    max-width: 100%;
    margin-left: 10px
}

.body-navbar-slide .container .slideEndItem .slides-item .slideWrap {
    position: relative
}

.body-navbar-slide .container .slideEndItem .slides-item .slideWrap .owl-carousel .owl-pagination {
    position: absolute;
    bottom: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.body-navbar-slide .container .slideEndItem .slides-item .slideWrap .owl-carousel .owl-pagination .owl-page span {
    width: 30px;
    height: 5px
}

.body-navbar-slide .container .slideEndItem .slides-item .slideWrap .owl-carousel .owl-pagination .owl-page .active {
    background-color: white;
}

.body-navbar-slide .container .slideEndItem .slides-item .slideWrap .owl-carousel .owl-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0px 15px;
}

.body-navbar-slide .container .slideEndItem .slides-item .slideWrap .owl-carousel .owl-buttons div i {
    font-size: 30px
}

.body-navbar-slide .container .slideEndItem .rightSlide img {
    width: 360px
}

.body-navbar-slide .container .slideEndItem .bottomSlide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px;
}

.body-navbar-slide .container .slideEndItem .bottomSlide img {
    width: 360px;
    margin-right: 3px
}

.body-bottomNavSlide .container .listBottomImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.body-bottomNavSlide .container .listBottomImg a img {
    width: 313px
}

.body-listCategorySlide-contentSlide {
    margin-top: 15px
}

.body-listCategorySlide-contentSlide .aaaaa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel .owl-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel .itemContent {
    width: 242px;
    border: 1px solid #e2dfdf;
    border-top: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel .itemContent:hover {
    border: 1px solid #eff173;
    border-top: none
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel .itemContent-image {
    width: 240px
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel .itemContent-image img {
    width: 100%
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel .itemContent .textContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel .itemContent .textContent-textxxxx .name {
    font-size: 14px;
    font-weight: 500px;
    margin-top: 10px;
    margin-bottom: 20px
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel .itemContent .textContent-textxxxx .salex {
    font-size: 14px;
    line-height: 20px;
    text-decoration: line-through;
    color: #888888
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel .itemContent .textContent-textxxxx .price {
    padding: 3px 0 10px;
    font-size: 20px;
    font-weight: 700;
    color: #d7202c
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel .itemContent .textContent .iconSale {
    position: relative;
    height: 51px;
    width: 48px
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel .itemContent .textContent .iconSale img {
    width: 100%;
    height: 100%
}

.body-listCategorySlide-contentSlide .aaaaa .owl-carousel .itemContent .textContent .iconSale .textSale {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 30%
}

.body-listCategory-contentx {
    margin-top: 20px
}

.body-listCategory-contentx .listItemContentx .listx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    width: 230px;
    border: 1px solid #e2dfdf;
    border-top: none;
    cursor: pointer;
    margin-bottom: 25px
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx:hover {
    border: 1px solid #eff173;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx:hover .scrollTop {
    -webkit-transform: translateY(-52px);
    transform: translateY(-52px)
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx-imagex {
    position: relative;
    overflow: hidden
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx-imagex img {
    width: 230px
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx-imagex .scrollTop {
    position: absolute;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 230px;
    height: 52px;
    background-color: #505050;
    opacity: 0.7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    color: #ffffff
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx-imagex .scrollTop .left {
    font-size: 14px;
    line-height: 20px
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx-imagex .scrollTop .btn {
    z-index: 2;
    background-color: black;
    padding: 5px 12px
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx-imagex .scrollTop .btn:hover {
    background-color: blue
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx .textContentx {
    padding-left: 15px;
    padding-right: 15px
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx .textContentx-textxxxxx .namex {
    font-size: 14px;
    font-weight: 500px;
    margin-top: 10px;
    margin-bottom: 20px
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx .textContentx .iconSalex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx .textContentx .iconSalex .pricexx .salexx {
    font-size: 14px;
    line-height: 20px;
    text-decoration: line-through;
    color: #888888
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx .textContentx .iconSalex .pricexx .pricex {
    padding: 3px 0 10px;
    font-size: 20px;
    font-weight: 700;
    color: #d7202c
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx .textContentx .iconSalex .icon {
    position: relative;
    height: 51px;
    width: 48px
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx .textContentx .iconSalex .icon img {
    width: 100%;
    height: 100%
}

.body-listCategory-contentx .listItemContentx .listx .itemContentx .textContentx .iconSalex .icon .textSalex {
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.body-listCategory-contentx .listItemContentx .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #7683f3
}

.body-listCategory-contentx .listItemContentx .page p {
    cursor: pointer;
    padding: 7px 10px;
    margin: 3px;
    border: 1px solid #adabab
}

.body-listCategory-contentx .listItemContentx .page p:hover {
    background-color: #f1f380;
    color: #333333
}

.body-listCategory-contentx .listItemContentx .page i {
    cursor: pointer;
    font-size: 14px;
    padding: 7px 10px;
    margin: 3px;
    border: 1px solid #adabab
}

.body-listCategory-contentx .listItemContentx .page i:hover {
    background-color: #f1f380;
    color: #333333
}

.body-listCategory .mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 100px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #dfd9d9;
    height: 46px;
    border-radius: 10px;
}

.body-listCategory .mail-left .textp {
    color: #2c2b2b;
    text-align: center;
    margin: 0;
}

.body-listCategory .mail-right input {
    padding-left: 15px;
    height: 30px;
    width: 332px;
    font-size: 12px;
}

.body-listCategory .mail-right span a {
    background-color: #d7202c;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #adadad;
    padding: 5px 10px
}

a {
    text-decoration: none !important;
}

footer {
    background-color: #f6f6f6
}

footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px
}

footer .container .leftFt {
    line-height: 20px
}

footer .container .leftFt .hotline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

footer .container .midFt {
    line-height: 20px
}

.activePage {
    background-color: #f1f380
}

#footer_design {
    display: flex;
    justify-content: center;
    justify-content: center;
}

#footer {
    background: #f6f6f6;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin-left: 22px;

}

.container_footer {
    width: 1310px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.noti {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 422px;
    height: 138.8px;
    z-index: 9999;
    /* đặt giá trị z-index cao hơn giá trị z-index của các phần tử khác trên trang */
    overflow: hidden !important;
    text-align: center;
}

.btn-cancel,
.btn-cancel:after {
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 12px;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-cancel:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'ALTERNATE TEXT';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.btn-cancel:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {

    .btn-cancel,
    .btn-cancel:after {
        width: 100px;
        height: 26px;
        line-height: 5px;
    }
}

.div_mess {
    font-size: 12px !important;
    text-align: left !important;
    color: rgb(35, 35, 35);
    display: block;
    margin-top: -35px;
    margin-left: 85px;
}

.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover {
    background-color: #d7202c !important;
    border-color: #d7202c !important;
    color: #ffffff !important;
}

.btn-outline-primary:not(:checked) {
    border-color: #d7202c !important;
    color: #d7202c !important;
}

.btn-outline-primary:hover {
    color: #ffffff !important;
}