@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 62.5%;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-thumb {
    background: #36e2ec;
    border-radius: 8rem;
}

:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: rgb(250, 250, 250);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-succes: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);
    --color-light-main: rgb(240, 237, 237);
    --solid-white: rgb(230, 228, 228);
}

body {
    background: var(--color-white);
}

body.active {
    --color-white: rgb(5, 5, 5);
    --color-light: rgb(40, 40, 41);
    --color-black: rgb(241, 241, 241);
    --solid-white: rgb(59, 58, 58);
    --color-light-main: rgb(66, 65, 65);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
    z-index: 10;
    background: var(--color-light);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 2rem 7%;
}

.header__container img {
    width: 120px;
    cursor: pointer;
}

.menu__header {
    display: flex;
    align-items: center;
}

.menu__header li {
    padding: 1rem 2rem;
    margin-right: 1rem;
    border-radius: 4px;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
}

.menu__header-list {
    display: flex;
    align-items: center;
}

.menu__header-list li a {
    color: var(--color-white) !;
}

.menu__header-list li a {
    color: var(--color-black);
}

.menu__header .menu__header-active {
    color: black !important;
    background: rgb(114, 190, 0) !important;
}

.nav-icon-menu {
    display: flex;
}

.nav-icon-menu div {
    padding: 1rem 1rem;
    margin-right: .7rem;
    font-size: 2rem;
    border-radius: 6px;
    line-height: 1;
    cursor: pointer;
}

.nav-icon-menu div:nth-child(1) {
    color: orange;
}

.nav-icon-menu div:nth-child(2) {
    color: blue;
}

.nav-icon-menu div:nth-child(3) {
    color: rgb(221, 200, 14);
}

.nav-icon-menu div:nth-child(4) {
    color: rgb(68, 194, 95);
}

#menu {
    display: none;
}

.menu__header-text {
    display: flex;
    align-items: center;
    display: none;

}

.menu__header h1 {
    padding: 1rem;
    font-size: 2rem;
    color: red;
    font-weight: 900;
}

.category-menu {
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--color-light-main);
    text-transform: capitalize;
    text-align: center;
    margin-top: 10rem;
    color: var(--color-black);
}

.category-list {
    padding: 1rem 2rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    /* cursor: pointer; */
    border-right: 1px solid rgb(219, 216, 216);
    /* cursor: pointer; */
}

.category-list li {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.category-list .bx-menu-alt-left {
    margin-right: .7rem;

}

.category-list .bx-chevron-down {
    margin-left: 2rem;
    font-size: 3rem;
}

.category-protect {
    padding: 1rem 2rem;
    font-size: 1.7rem;
    border-right: 1px solid rgb(219, 216, 216);
}

.category-sales {
    padding: 1rem 2rem;
    font-size: 1.7rem;
    border-right: 1px solid rgb(219, 216, 216);
}

.category-pages {
    padding: 1rem 2rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    color: var(--color-black);
    position: relative;
}

.category-pages li {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.category-protect {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.category-sales {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.image__main {
    margin-top: 2rem;
    width: 100%;
}

.image__main img {
    width: 100%;
    height: 500px;

}

.product__hot {
    margin-top: 2rem;
}

.product__sales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 0 1rem;
    /* background-image: url('https://images.fpt.shop/unsafe/fit-in/1200x200/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/8/24/637969372911083796_F-H5_1200x200.png'); */
    background-position: center;
    width: 100%;
}

.product__sales-list {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: red;
    font-weight: 500;
    cursor: pointer;
}

.product__sales-list i {
    left: 0;
    margin-right: .7rem;
}

.product__sales-pages {
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: .7rem 0 .7rem 2rem;
    justify-content: space-between;
    cursor: pointer;
}

.product__sales-pages li {
    margin-right: 1rem;
    color: var(--color-black);
    border-left: 1px solid red;
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: 1.7rem;
}

.product__sales-pages i {
    color: var(--color-black);
}

.product__detals-hot {
    border: 1px solid var(--solid-white);
    border-radius: 4px;
    cursor: pointer;
    padding-bottom: 1rem;
}

.product__detals-hot img {
    width: 170px;
    margin-left: 50%;
    transform: translateX(-50%);

}

.product__title {
    position: relative;
    padding: 1rem 1rem;
}

.product__title h1 {
    font-size: 1.7rem;
    color: var(--color-black);
    text-transform: capitalize;
    /* width: 100%; */
    /* white-space: nowrap;
    overflow: hidden; */
    text-overflow: ellipsis;
}

.product__title h2 {
    text-decoration: line-through;
    color: var(--color-gray);
    font-weight: 200;
}

.product__title h3 {
    font-size: 1.7rem;
    color: red;
}

.product__image-hot img {
    width: 40px;
    position: absolute;
    top: 35%;
    left: 40%;
}

.product__image-hot h5 {
    position: absolute;
    top: 47%;
    left: 82%;
    font-size: 1.3rem;
}

.product__hot-sales {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.btn__product {
    text-align: center;
}

.btn__product-list {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    background: red;
    color: white;
    text-align: center;
    margin-top: 1.2rem;
    cursor: pointer;
}

.btn__product-list-tivi {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    background: rgb(32, 180, 51);
    color: white;
    text-align: center;
    margin-top: 1.2rem;
    cursor: pointer;
}

.list__link-image {
    justify-content: flex-end;
}

.list__link-image-url {
    margin-top: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.list__link-image-url li {
    padding: .7rem 1rem;
    margin-right: 1rem;
    font-size: 1.7rem;
    color: var(--color-black);
    border-radius: 4px;
}

.color-red {
    background: red !important;
    color: white !important;
}

.list__link-image-url i:nth-child(1) {
    margin-right: 1rem;
    font-size: 2rem;
}

.list__link-image-url i:nth-child(2) {
    margin-right: 1rem;
    font-size: 3rem;
}

.image__category {
    background: rgb(8, 172, 150);
    margin-top: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image__category--name img {
    width: 100%;
}

.image__category--section img:nth-child(1) {
    position: relative;
    width: 100%
}

.image__category--section img:nth-child(2) {
    position: absolute;
    width: 50%;
    right: 0;
    margin-top: 5%;
}

.image__category-ship {
    width: 50%;
    height: 100%;
}

.image__category-ship img {
    width: 50%;
    height: 100%;
}

.image__gif {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    text-align: center;
    background: #36e2ec;
    height: 100%;
}

.image__gif-laptop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #36e2ec;
}

.image__gif--content img {
    width: 50%;
}

.image__gif--ship img {
    width: 80%;
}

.image__gif-laptop {
    width: 100%;
}

.image__gif-laptop-content img {
    width: 100%;
}

.image__gif-laptop--section img {
    width: 100%;
}

.content__image--laptop-gif {
    width: 100%;
    text-align: center;
    background: rebeccapurple;
}

.content__image--laptop-gif img {
    width: 50%;
}

.meanu__header-list--image {
    display: none;
}

.menu__header__image-slide {
    display: none;
}

.product__image-main-slide {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
}

.product__image-main-slide img {
    width: 80%;
    border-radius: 4px;
}

.scroll-to-top {
    position: relative;
}

.btn-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
}

.btn-style {
    background-color: #f552f2;
    border: 2px solid #fff;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    color: rgb(236, 229, 229);
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.styled-select {
    background: var(--color-light-main);
    display: inline-flex;
    margin-top: 1rem;
    padding: 1rem 2rem;
    color: var(--color-black);


}

.styled-select select {
    background: var(--color-light-main);
    color: var(--color-black);
    font-size: 1.7rem;
}

.styled-select select option {
    text-transform: capitalize;
}

.category__list-menu {
    display: none;
}

